.btn {
	background-color: $color-light-green;
	color: white;
	font-weight: bold;
	line-height: 35px;
	min-height: 52px;
	min-width: 170px;
	border-radius: 8px;
	transition: 0.5s;
	&:hover {
		color: white;
		background-color: #1c7a32;
	}
	&:focus {
		outline: 1px var(--text-link-color) solid;
		background-color: #1c7a32;
		box-shadow: 0 0 0 0.25rem rgba(38, 179, 92, 0.5);
	}
}

.goTop {
	display: none;
	position: fixed;
	height: 50px;
	width: 50px;
	background-color: $color-light-green;
	border-radius: 50%;
	color: white;
	bottom: 20px;
	right: 20px;
	line-height: 50px;
	text-align: center;
	z-index: 10;
	&:hover {
		color: white;
		background-color: $color-dark-green;
	}
}

/* tablet responsive */
@media (min-width: 767.98px) {
	.btn {
		padding: 0 50px;
		min-width: 200px;
	}
}
