.section-category {
	color: $text-font;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.section-title {
	color: var(--black-color);
	font-weight: 650;
}

.text-content {
	color: $text-font;
}
