body#error-page {
	.error-page {
		margin-top: 3rem;
		.row {
			.item-left {
				max-width: 420px;
				img {
					max-width: 80%;
				}
			}
			.item-right {
				max-width: 420px;
				height: 100%;
				h3 {
					font-size: 80px;
					color: #009f4d;
				}
				h5 {
					font-size: 22px;
					line-height: 34px;
				}
				p {
					font-size: 17px;
					line-height: 27px;
					color: #666;
				}
				a {
					text-decoration: none;
					font-weight: 600;
					font-size: larger;
					color: $--heading-color;
				}
			}
		}
	}
	/* pc responsive */
	@media (min-width: 991.98px) {
		/* pc responsive header */
		.error-page {
			.row {
				.item-left {
					margin-left: auto;
					margin-right: 0;
					img {
						max-width: 80%;
					}
				}
				.item-right {
					h3 {
						font-size: 120px !important;
					}
					h5 {
						font-size: 26px !important;
					}
				}
			}
		}
		/* end of responsive */
	}
}
